/* epca.form.SearchComboBox  */
.search-item {
    border: 1px solid transparent;
}

.search-item p {
    padding: 2px 0 2px 0;
}

/* epca.MainPanel header */
.main-viewport-header {
    background: #7f99be url("#{$images-dir}layout-browser-hd-bg.gif") repeat-x center;
}

.main-viewport-header h1 {
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.x-panel-body {
    background-color: $bgPanelBody;

    a {
        text-decoration: underline;
    }
}

#fieldSetPropertiesPanel-xcollapsed {
    display: none !important;
}

/* opakovatelne komponenty */
.icon-plus {
    background-image: url("#{$images-dir}plus.png") !important;
}

.icon-minus {
    background-image: url("#{$images-dir}minus.png") !important;
}

.x-btn button {
    &.icon-minus, &.icon-plus, &.icon-down, &.icon-up {
        background-color: white;
    }
}

.icon-up {
    background-image: url("#{$images-dir}up.png") !important;
}

.icon-cancel {
    background-image: url("#{$images-dir}cancel.png") !important;
}

.icon-down {
    background-image: url("#{$images-dir}down.png") !important;
}

.icon-image-add {
    background-image: url("#{$images-dir}image_add.png") !important;
}

.icon-delete {
    background-image: url("#{$images-dir}delete.gif") !important;
}

.icon-accept {
    background-image: url("#{$images-dir}accept.png") !important;
}

.icon-save {
    background-image: url("#{$images-dir}disk.png") !important;
}

.icon-save-new {
    background-image: url("#{$images-dir}disk_add.png") !important;
}

.icon-save-img {
    background-image: url("#{$images-dir}disk.png") !important;
}

.icon-open {
    background-image: url("#{$images-dir}folder_wrench.png") !important;
}

.icon-error-epca {
    background-image: url("#{$images-dir}exclamation.gif") !important;
}

.icon-copy {
    background-image: url("#{$images-dir}copy.png") !important;
}

.icon-report {
    background-image: url("#{$images-dir}report.png") !important;
}

.icon-upload-file {
    background-image: url("#{$images-dir}upload_file.png") !important;
}

.icon-url {
    background-image: url("#{$images-dir}url.png") !important;
}

.epca-loader {
    background-image: url("#{$images-dir}epca_loader_t.gif") !important;
}

.epca-list {
    background-image: url("#{$images-dir}application_view_list.png") !important;
    float: right;
}

.icon-group {
    background-image: url("#{$images-dir}application_view_list.png") !important;
}

.icon-import {
    background-image: url("#{$images-dir}import.png") !important;
}

.icon-insert {
    background-image: url("#{$images-dir}insert.png") !important;
}

.icon-refresh {
    background-image: url("#{$images-dir}refresh.png") !important;
}

/* ikona z kontrol zaznamu */
.x-tool-csCheckError {
    background: transparent url("#{$images-dir}exclamation.gif");
}

.x-tool-csCheckWarning {
    background: transparent url("#{$images-dir}check_warn.gif");
}

.x-tool-csCheckInfo {
    background: transparent url("#{$images-dir}information.png");
}

.icon-field-csCheckInfo {
    background-image: url("#{$images-dir}information.png") !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
}

.icon-field-csCheckWarning {
    background-image: url("#{$images-dir}check_warn.gif") !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
}

.icon-field-csCheckError {
    background-image: url("#{$images-dir}exclamation.gif") !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
}

/* cerne pismo u zasedlych poli */
.x-item-disabled {
    color: black;
}

.x-item-disabled * {
    color: black !important;
}

// ikonka search v toolbaru - graficka - nutne osetreni -- LS, 2025-02-10
.x-toolbar-ct {
    .icon-search{
        padding-top:3px;
        background-image:url("../images/search.png") !important
    }
    .icon-search::before{
        font-family: inherit;
        content: "" !important;
    }
}