
.icon-search:before { content: '\e800'; } /* '' */
.icon-settings:before { content: '\e801'; } /* '' */
.icon-new:before { content: '\e802'; } /* '' */
.icon-key:before { content: '\e803'; } /* '' */
.icon-collapse-down:before { content: '\e804'; } /* '' */
.icon-info:before { content: '\e805'; } /* '' */
.icon-remove:before { content: '\e806'; } /* '' */
.icon-refresh:before { content: '\e807'; } /* '' */
.icon-save:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-folder-open:before { content: '\e80b'; } /* '' */
.icon-help:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e80e'; } /* '' */
.icon-check:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-print:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-logout:before { content: '\e814'; } /* '' */
.icon-collapse-up:before { content: '\e815'; } /* '' */
.icon-error:before { content: '\e816'; } /* '' */
.icon-user:before { content: '\e817'; } /* '' */
.icon-collapse-right:before { content: '\e818'; } /* '' */
.icon-list:before { content: '\e819'; } /* '' */
.icon-plus:before { content: '\e81a'; } /* '' */
.icon-show:before { content: '\e81b'; } /* '' */
.icon-scopus:before { content: '\e81c'; } /* '' */
.icon-wos:before { content: '\e81d'; } /* '' */
.icon-doi:before { content: '\e81e'; } /* '' */
.icon-nk:before { content: '\e81f'; } /* '' */
.icon-pubmed:before { content: '\e820'; } /* '' */
.icon-riv:before { content: '\e821'; } /* '' */
.icon-upload:before { content: '\e822'; } /* '' */
.icon-book:before { content: '\e823'; } /* '' */
.icon-ok-check-1:before { content: '\e824'; } /* '' */
.icon-popup:before { content: '\e825'; } /* '' */
.icon-warning-1:before { content: '\e826'; } /* '' */
.icon-prev-1:before { content: '\e827'; } /* '' */
.icon-next-1:before { content: '\e828'; } /* '' */
.icon-down-1:before { content: '\e829'; } /* '' */
.icon-up-1:before { content: '\e82a'; } /* '' */
.icon-loading:before { content: '\e839'; } /* '' */
.icon-scopusid:before { content: '\e8b4'; } /* '' */
.icon-orcid:before { content: '\e8b5'; } /* '' */
.icon-vvi:before { content: '\e8b6'; } /* '' */
.icon-external:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-copy-1:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-insert:before { content: '\f116'; } /* '' */
.icon-list-remove:before { content: '\f117'; } /* '' */
.icon-ok:before { content: '\f11e'; } /* '' */
.icon-row-up:before { content: '\f129'; } /* '' */
.icon-row-down:before { content: '\f12a'; } /* '' */
.icon-row-remove:before { content: '\f12b'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-pdf:before { content: '\f1c1'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-genpass:before { content: '\f23e'; } /* '' */
.icon-form-1:before { content: '\f298'; } /* '' */
.icon-question-1:before { content: '\f29c'; } /* '' */